.clock-outer {
  width: 420px;
  height: 420px;
  border: 15px solid;
  border-radius: 50%;
  position: relative;
  background: lime;
}

.clock {
 width: 400px;
 height: 400px;
 border: 2px solid black;
 border-radius: 50%;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 position: absolute;
 background: #f1f1f1;
}
.container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: rgba(0, 0, 0, 0.3);
}
.clock .number {
 position: absolute;
 width: 100
%;
 height: 100%;
 text-align: center;
 font-size: 1.5rem;
}
.clock .hand {
 - rotation: 10;
 position: absolute;
 background-color: black;
 border: 1px solid white;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 left: 50%;
 bottom: 50%;
 transform-origin: bottom;
 transform: translateX(-50%) rotate(calc(var( - rotation) * 1deg));
}
.clock .hand.minute {
 height: 40%;
 width: 5px;
}
#small-circle {
 position: absolute;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 background-color: red;
 left: 50%;
 bottom: 48%;
 transform: translateX(-50%);
}
.clock .hand.second {
 height: 48%;
 width: 3px;
 background: red;
}
.clock .hand.hour {
 height: 30%;
 width: 10px;
}
.container-2 {
 display: flex;
 position: absolute;
 bottom: 44%;
 left: 68%;
 border: 2px solid black;
 border-radius: 10px;
 width: 80px;
 height: 50px;
 font-size: 1.3rem;
}
.container-2 #date {
 display: flex;
 justify-content: center;
 align-items: center;
 border-right: 1px solid black;
 width: 40px;
 height: 50px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container-2 #month {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 40px;
 height: 50px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.number1 {
 transform: rotate(30deg);
}
.number2 {
 transform: rotate(60deg);
}
.number3 {
 transform: rotate(90deg);
}
.number4 {
 transform: rotate(120deg);
}
.number5 {
 transform: rotate(150deg);
}
.number6 {
 transform: rotate(180deg);
}
.number7 {
 transform: rotate(210deg);
}
.number8 {
 transform: rotate(240deg);
}
.number9 {
 transform: rotate(270deg);
}
.number10 {
 transform: rotate(300deg);
}
.number11 {
 transform: rotate(330deg);
}
